@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bokor&display=swap');

:root {
    --primary-color: #d52ffe;
    --text-color: #fff;
    --bg-color: #111;
    --base-color: #9900a1;
    --title-color: #d7008f;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sora", "Bokor", sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.text-dark-shadow {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.text-light-shadow {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

hr {
  border: none;
  width: 10%;
  height: 4px;
  border-radius: 40px;
  background: var(--primary-color);
  opacity: 1;
}

.navbar-nav .nav-link {
    color: var(--primary-color);
}
.navbar-nav .nav-link:hover {
    color: var(--base-color);
}

.navbar-nav .nav-link.active {
    color: var(--base-color);
    font-weight: bold;
}

.navbar-toggler {
    border: none;
    outline: none;
    border-radius: 2px !important;
    margin: 0;
    box-shadow: none !important;
    background: var(--base-color);
    color: #fff !important;
    opacity: 1 !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.loader {
    width: 8px;
    height: 40px;
    border-radius: 4px;
    display: block;
    margin: 20px auto;
    position: relative;
    background: currentColor;
    color: var(--primary-color);
    box-sizing: border-box;
    animation: animloader 0.3s 0.3s linear infinite alternate;
}

.loader::after,
.loader::before {
    content: '';
    width: 8px;
    height: 40px;
    border-radius: 4px;
    background: currentColor;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    box-sizing: border-box;
    animation: animloader 0.3s 0.45s linear infinite alternate;
}

.loader::before {
    left: -20px;
    animation-delay: 0s;
}

@keyframes animloader {
    0% {
        height: 48px
    }

    100% {
        height: 4px
    }
}

.fixed-top {
    transition: .5s;
}

.bg-blur {
    backdrop-filter: blur(15px);
    background: white;
}

.bg-blur-primary {
    backdrop-filter: blur(10px);
    background: #ffb76e7e;
}

.bg-blur-secondary {
    background: #3CB815 !important;
    backdrop-filter: blur(10px);
}

.bg-gradient {
    background: linear-gradient(155deg, var(--primary) 0%, var(--secondary) 100%) !important;
}

.bg-top-gradient {
    background: linear-gradient(to bottom, #ffffff00, #000000) !important;
}

/* Carousel */
.swiper {
    width: 100%;
    height: 100vh;
    background: transparent !important;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide img {
    display: relative;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.swiper-slide .hero-content {
    position: absolute;
    width: 80%;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background: linear-gradient(90deg, #050505a2 0%, #50505076 100%);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    color: #fff;
    transition: 0.5s;
}

.swiper-slide .carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    color: var(--title-color);
    z-index: 1;
}

.card-img-overlay:hover {
    background-color: #ffe4c495 !important;
    transition: 0.8s;
}

.card-img-overlay:hover .card-title {
    color: var(--title-color) !important;
    transition: 0.8s;
}

.card-img-overlay:hover .btn {
    background-color: #0000008c !important;
    color: #fff !important;
    border: 1px solid #00000041 !important;
    transition: 0.8s;
}

.product-feature h5 {
    line-clamp: 1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}


.product-feature:hover img {
    opacity: 0.8;
    transform: scale(1.05);
    transition: 0.8s;
}

.product-feature:hover .btn-feature {
    transform: translateY(0px);
    transition: 0.8s;
    background-color: var(--base-color) !important;
    color: #fff !important;
    border: 1px solid var(--primary-color) !important;
    margin-top: 10px;
    opacity: 1;
}

.btn-feature {
    margin-top: 10px;
    transform: translateY(30px);
    opacity: 0;
    font-size: 12px !important;
}

.text-yellow {
    color: var(--title-color);
}

.banner {
    background-image: url('../imgs/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-custom {
    background: var(--title-color);
    color: white;
}

.btn-custom:hover {
    background: var(--base-color);
    color: white;
    transform: translateY(-1px);
    transition: 0.8s;
}

footer {
    padding-top: 40px;
    background: #454545;
}

.ul-text li a {
    color: var(--primary-color);
}
.ul-text li a:hover {
    color: var(--title-color);
    text-decoration: underline !important;
}

.pagination {
    font-family: 'Noto Sans Mono', monospace !important;
}
.pagination .page-item a {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: #fff;
    transition: all 0.3s;
    border-radius: 2px !important;
}
.pagination .page-item.active a {
    color: #fff;
    background-color: var(--base-color);
}

.pagination .page-item a:hover {
    color: white;
    background-color: var(--base-color);
}

/* Hide arrow up/down on input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    box-shadow: none !important;
    outline: none;
}
input:focus {
    box-shadow: none !important;
    border: 1px solid var(--primary-color) !important;
}

.cursor-pointer {
    cursor: pointer;
}

.btn-add-to-cart,
.btn-checkout {
    background-color: var(--base-color);
    color: #fff;
    border: 1px solid var(--base-color);
    border-radius: 0;
}
.btn-add-to-cart:hover,
.btn-checkout:hover {
    background-color: var(--title-color);
    color: #fff;
    border: 1px solid var(--title-color);
    transition: 0.8s;
}

table thead tr th {
    background: var(--base-color) !important;
    opacity: 0.8;
    color: #fff !important;
}

.link-text {
    color: var(--primary-color) !important;
}
.link-text:hover {
    color: var(--title-color) !important;
}

.border-purple {
    border: 1px solid var(--primary-color) !important;
}